fieldset {
  border: 0;
  padding: 0;
}

body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  z-index: 10;
  background: url("../images/icon-top.png") no-repeat;
}

.scrollup:hover {
  opacity: .7;
}

.transition, .scrollup, .button, header .nav .item a, #main .level-1 .tags .item, #main .level-1 .img-container .col .item .text, #main .level-1 .img-container .col .item .hov, .level-3 form .submit, .level-3 form .sending, .level-3 form .error-message, footer .social-container .item {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.wrapper {
  min-width: 200px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1%;
}

.button {
  font-size: 14px;
  color: #48bf72;
  border: 2px solid #48bf72;
  border-radius: 3px;
  padding: 10px 24px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  color: #edbf88;
  border: 2px solid #edbf88;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}

#page-preloader .spinner {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../images/default.gif") no-repeat 50% 50%;
  margin: -16px 0 0 -16px;
}

header {
  position: relative;
  background-image: url("../images/header-background-0.png");
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: .7;
  padding: 2% 0 12% 0;
  -webkit-transition: background 600ms ease;
  -moz-transition: background 600ms ease;
  -ms-transition: background 600ms ease;
  -o-transition: background 600ms ease;
  transition: background 600ms ease;
}

header:after {
  content: "";
  background-color: rgba(60, 72, 84, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header .logo {
  background-image: url("../images/header-logo.png");
  width: 174px;
  height: 99px;
  display: inline-block;
}

header .nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 0 20px 0 0;
}

header .nav .item {
  display: inline-block;
  margin: 30px 0 0 80px;
  position: relative;
}

header .nav .item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

header .nav .item a:hover {
  color: #48bf72;
}

header .nav .item .drop-menu {
  position: absolute;
  top: 20px;
  display: none;
}

header .nav .item .drop-menu .item {
  margin: 0;
  padding: 10px 0;
}

header .nav .item .drop-menu .item a {
  padding: 10px 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

header .nav .item .drop-menu .item a:hover {
  color: #48bf72;
}

/*header .nav .item.drop:hover .drop-menu {
  display: block;
}*/

header .caption-container {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

header .caption-container h1 {
  font-size: 46px;
  font-weight: bold;
  padding: 10% 0 0 0;
}

header .caption-container h2 {
  font-size: 30px;
  font-weight: 400;
}

header .caption-container .button.head {
  margin: 2% 0 0 0;
}

#main .level-1 {
  background-color: #fff;
  text-align: center;
  padding: 0 0 50px 0;
}

#main .level-1 .tags {
  padding: 3% 0;
}

#main .level-1 .tags .item {
  background-color: #eaeaea;
  font-size: 16px;
  color: #3c4955;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

#main .level-1 .tags .item:hover {
  background-color: #48bf72;
  color: #fff;
}

#main .level-1 .img-container .col {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 15px 0;
}

#main .level-1 .img-container .col .item {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

#main .level-1 .img-container .col .item:hover .text,
#main .level-1 .img-container .col .item:hover .hov {
  opacity: 1;
}

#main .level-1 .img-container .col .item .text {
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  position: absolute;
  width: 100%;
  left: 0;
  top: 44%;
  z-index: 2;
  opacity: 0;
}

#main .level-1 .img-container .col .item .text span {
  font-size: 30px;
}

#main .level-1 .img-container .col .item .image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#main .level-1 .img-container .col .item .hov {
  background-color: rgba(73, 191, 114, 0.8);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.level-2 {
  background-color: rgba(60, 72, 84, 0.65);
  position: relative;
}

.level-2:after {
  content: "";
  background-image: url("../images/level-2-background.png");
  background-position: top center;
  opacity: .8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.level-2 .container {
  float: right;
  width: 45%;
  color: #fff;
  padding: 6% 0;
}

.level-2 .container .caption {
  font-size: 30px;
}

.level-2 .container .caption span {
  font-size: 22px;
}

.level-2 .container .text {
  padding: 5% 10% 0 0;
  font-size: 16px;
  line-height: 1.4;
}

.level-2 .container .button {
  border: 3px solid #3c4955;
  color: #3c4955;
  margin: 10% 0 0 0;
}

.level-2 .container .button:hover {
  border: 3px solid #51bb75;
  color: #51bb75;
}

.level-3 {
  text-align: center;
  padding: 50px 0;
}

.level-3 form .caption {
  color: #48bf72;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  padding: 20px 0 40px;
}

.level-3 form fieldset {
  position: relative;
  display: inline-block;
}

.level-3 form fieldset label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: #3c4955;
}

.level-3 form fieldset input:focus {
  outline: none;
}

.level-3 form fieldset .name-ico {
  background-image: url("../images/contact-icon-name.png");
}

.level-3 form fieldset .mail-ico {
  background-image: url("../images/contact-icon-mail.png");
}

.level-3 form fieldset .text-ico {
  background-image: url("../images/contact-icon-text.png");
  height: 100%;
  background-position: center 15px;
}

.level-3 form .name, .level-3 form .mail {
  display: inline-block;
  font-size: 16px;
  font-family: 'Tahoma';
  padding: 0 25px 0 55px;
  border: 2px solid #3c4955;
  margin: 0 0 30px 0;
  width: 188px;
  height: 46px;
  border-radius: 2px;
}

.level-3 form .text-container {
  display: block;
}

.level-3 form .text-container .field-text {
  width: 48%;
  position: relative;
}

.level-3 form .text-container .field-text textarea {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Tahoma';
  width: 495px;
  height: 200px;
  padding: 10px 0 0 55px;
  border: 2px solid #3c4955;
  border-radius: 2px;
}

.level-3 form .text-container .field-text textarea:focus {
  outline: none;
}

.level-3 form .field-subm {
  display: block;
}

.level-3 form .submit {
  background-color: #48bf72;
  border: 0;
  width: 555px;
  margin: 20px 0 0 0;
  font-size: 16px;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.level-3 form .submit:hover {
  background-color: #edbf88;
}

.level-3 form .submit:focus {
  outline: none;
}

.level-3 form .sending {
  padding: 10px 0 0 0;
  color: #5bc187;
  opacity: 0;
  font-size: 16px;
}

.level-3 form .error-message {
  color: #f4776d;
  opacity: 0;
  padding: 10px 0 0 0;
  font-size: 16px;
}

footer {
  background-color: #3c4955;
  padding: 70px 0 50px;
}

footer .copyright {
  display: inline-block;
  color: #fff;
}

footer .social-container {
  float: right;
  margin: -20px 0 0 0;
}

footer .social-container .item {
  margin: 0 20px;
  display: inline-block;
  background-image: url("../images/social-sprite.png");
  height: 55px;
  width: 55px;
  opacity: .8;
}

footer .social-container .item:hover {
  opacity: 1;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

footer .social-container .item.in {
  background-position: -87px;
}

footer .social-container .item.boll {
  background-position: -177px;
}

footer .social-container .item.be {
  background-position: -262px;
}

@media screen and (min-width: 1150px) {
  .level-1 .img-container .item.first {
    width: 450px;
    height: 302px;
    display: block;
    margin: 0 15px 15px 0;
  }
  .level-1 .img-container .item.first .image {
    background-image: url("../images/level-1-img-0.png");
    width: 450px;
    height: 302px;
    margin: 0 15px 15px 0;
  }
  .level-1 .img-container .item.second {
    width: 450px;
    height: 486px;
    display: block;
  }
  .level-1 .img-container .item.second .image {
    background-image: url("../images/level-1-img-2.png");
    width: 450px;
    height: 486px;
  }
  .level-1 .img-container .item.third {
    width: 650px;
    height: 438px;
    display: block;
    margin: 0 15px 15px 0;
  }
  .level-1 .img-container .item.third .image {
    background-image: url("../images/level-1-img-1.png");
    width: 650px;
    height: 438px;
  }
  .level-1 .img-container .item.fourth {
    width: 650px;
    height: 350px;
    display: block;
  }
  .level-1 .img-container .item.fourth .image {
    background-image: url("../images/level-1-img-3.png");
    width: 650px;
    height: 350px;
    display: block;
  }
}

@media screen and (max-width: 1150px) {
  header .caption-container h1 {
    font-size: 32px;
  }
  header .caption-container h2 {
    font-size: 18px;
  }
  #main .level-1 .img-container .col .item .hov {
    border-radius: 6px;
  }
  #main .level-1 .img-container .col .item .text {
    top: 40%;
  }
  .level-1 .img-container .item.first {
    width: 225px;
    height: 151px;
    display: block;
    margin: 0 15px 15px 0;
  }
  .level-1 .img-container .item.first .image {
    background-image: url("../images/level-1-img-0-mini.png");
    width: 225px;
    height: 151px;
  }
  .level-1 .img-container .item.second {
    width: 225px;
    height: 243px;
  }
  .level-1 .img-container .item.second .image {
    background-image: url("../images/level-1-img-2-mini.png");
    width: 225px;
    height: 243px;
  }
  .level-1 .img-container .item.third {
    width: 325px;
    height: 219px;
    margin: 0 15px 15px 0;
  }
  .level-1 .img-container .item.third .image {
    background-image: url("../images/level-1-img-1-mini.png");
    width: 325px;
    height: 219px;
  }
  .level-1 .img-container .item.fourth {
    width: 325px;
    height: 175px;
  }
  .level-1 .img-container .item.fourth .image {
    background-image: url("../images/level-1-img-3-mini.png");
    width: 325px;
    height: 175px;
  }
}

@media screen and (max-width: 900px) {
  header {
    text-align: center;
  }
  header .nav {
    display: block;
    float: none;
    text-align: center;
  }
  header .nav .item:first-child {
    margin: 30px 0 0 0;
  }
  #main .level-1 .tags .item {
    margin: 3px;
  }
  footer {
    text-align: center;
    padding: 30px 0 20px;
  }
  footer .social-container {
    float: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .level-3 {
    padding: 10px 0;
  }
  .level-3 form .name, .level-3 form .mail {
    width: 140px;
  }
  .level-3 form .text-container .field-text textarea {
    width: 250px;
  }
  .level-3 form .submit {
    width: 255px;
  }
}

@media screen and (max-width: 500px) {
  header .nav .item {
    margin: 30px 0 0 25px;
  }
  .level-2 .container {
    width: 100%;
  }
  .level-2 .container .button {
    margin: 10% 0 0 30%;
  }
  footer .social-container .item {
    margin: 0 10px;
  }
}
